body {
    font-family: 'Arimo', sans-serif;
    background-image: url('war_ukr.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    text-align: center;
    padding: 2%;
    background-color: whitesmoke;
}

.fundraising-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: flex-start; */
    margin-top: 14.3%;
}

.fundraising {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: calc(30% - 20px); /* Adjusted width to be percentage-based */
    max-width: 300px; /* Added max-width for better responsiveness */
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.description {
    font-size: 16px;
    margin-top: 7px;
    word-wrap: normal;
    width: 100%; /* Adjusted width to be 100% for responsiveness */
}

.donate-section {
    margin-top: 30px;
    text-align: center;
}

.donate-btn,
#create-btn,
.user-fundraisings-btn {
    background-color: #007bff; /* Updated background color */
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}

.donate-btn:hover,
#create-btn:hover,
.user-fundraisings-btn:hover {
    background-color: #0056b3;
}

#create-btn,
.user-fundraisings-btn {
    margin-top: 20px;
}

#create-btn:hover {
    background-color: #318838;
}

.user-fundraisings-btn {
    background-color: #fff;
    color: #000;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 576px) {
    .fundraising {
        width: calc(100% - 20px);
    }
}

/* For screens between 577px and 768px wide (small devices) */
@media (min-width: 577px) and (max-width: 768px) {
    body {
        font-family: 'Arimo', sans-serif;
        background-image: url(war_ukr.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 194px
    }
    .fundraising {
        width: calc(50% - 20px);
    }
}

/* For screens between 769px and 992px wide (medium devices) */
@media (min-width: 769px) and (max-width: 992px) {
    body {
        font-family: 'Arimo', sans-serif;
        background-image: url(war_ukr.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 45%;
    }
    .fundraising {
        width: calc(33.33% - 20px);
    }
}

/* For screens between 993px and 1200px wide (large devices) */
@media (min-width: 993px) and (max-width: 1200px) {
    body {
        font-family: 'Arimo', sans-serif;
        background-image: url(war_ukr.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 70%;
    }
    .fundraising {
        width: calc(25% - 20px);
    }
    .fundraising-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* align-items: flex-start; */
        margin-top: 10.3%;
    }
}

/* For screens between 1201px and 1600px wide (extra large devices) */
@media (min-width: 1201px) and (max-width: 1600px) {
    .fundraising {
        width: calc(20% - 20px);
        height: 30%
    }
    body {
        font-family: 'Arimo', sans-serif;
        background-image: url(war_ukr.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 60%;
        margin-top: 10px;
        align-items: flex-end;
    }
    .fundraising-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* align-items: flex-start; */
        margin-top: 6.3%;
    }

}

/* For screens larger than 1600px wide (extra extra large devices) */
@media (min-width: 1601px) {
    .fundraising {
        width: calc(20% - 20px);
        height: 30%
    }
    body {
        font-family: 'Arimo', sans-serif;
        background-image: url(war_ukr.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 60%;
        margin-top: 60px;
        align-items: flex-end;
    }
    .fundraising-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* align-items: flex-start; */
        margin-top: 6.3%;
    }

}