body {
    font-family: 'Arimo', sans-serif;
    background-image: url('user_help1.jpg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    text-align: center;
    padding: 2%;
}

.yellow-bg {
    background-color: orange;
}

.fundraising-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80vh;
    margin-top: 1%;
}

.wrapper {
    width: calc(30% - 20px);
    max-width: 300px;
    margin-bottom: 20px;
}

.fundraising {
    background-color: white;
    border: 1px solid #ccc;
    padding: 2% 2%;
    border-radius: 10px;
}

.header{
    text-align: center;
    padding: 2%;
    background-color: whitesmoke;
}

.header h1 {
    margin: 0;
    color: #000000
}

.header h1 {
    font-size: 24px;

}


.description {
    font-size: 16px;
    margin-bottom: 100%;
}

.donate-section {
    margin-top: 30px;
    text-align: center;
}

.donate-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}

.donate-btn:hover {
    background-color: #0056b3;
}

#create-btn {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 20px;
    position: relative;
    bottom: 10%; /* Adjust this value to change the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
}

#create-btn:hover {
    background-color: #65d66e;
}