<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Create your own fundraising | CSS</title>
    <link rel="stylesheet" href="..//static//createfund_style.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <div class="wrapper">
        <form action="/createfund.html" method="POST">
            <h1>Your fundraising</h1>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <div class="input-box">
                <input type="text" name="name" placeholder="Name" required minlength="3" required maxlength="20" required>
                <!-- <input type="text" placeholder="Name"
                required> -->
            </div>

            <div class="input-box">
                <input type="text" name="credit_number" placeholder="Credit number" required minlength="16" required maxlength="16" required>
                <!-- <input type="text"
                placeholder="Credit number"required> -->
            </div>

            <div class="input-box">
                <textarea name="description" placeholder="Describe your fundraising" required minlength="10" required maxlength="120" required></textarea>
                <!-- <input type="text" placeholder="Describe your fundraising"required> -->
            </div>
          
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</body>
</html>