<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>SupportLab</title>
</head>
<body>
  <header class="h1">
    <div class="xtitle">
      SupportLab
    </div>
    <button onclick="scrollToSection()" class="button3">Create</button>
    <button onclick="scrollToSection1()" class="button2">About us</button>
  </header>
  <section class="s1">
    <button onclick="goToPage()" class="button1" style="position: relative; top: 70%; left: 5%;">Donate</button>
  </section>
  <div style="height: 100px; color: #ffff;"></div>
  <section id="targetSection" class="s3">
    <div class="textstyle">Need help? Create your own fundraising</div>
    <button onclick="goToPage1()" class="button1" style="position: relative; top: 70%; left: 5%; background-color: rgb(235, 224, 32);">Create</button>
  </section>
  <div style="height: 100px; color: #ffff;"></div>
  <section class="s2" id="targetSection1">
    <div class="s2title">ABOUT US</div>
    <div class="centered-div">
      <p>Ласкаво просимо до нашого сайту фандрайзингу!</p>
      <p>Ми - команда, яка вірить у людей та спільноту!</p>
      <p>Завдяки нашому сайту Ви зможете знайти допомогу,</p>
      <p>якої потребуєте, або й самі можете здійснити свій</p>
      <p>вклад у чиюсь мрію! У єдності сила!</p>
    </div>
  </section>
  <div style="height: 150px; color: #ffff;"></div>
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
  </footer>
  <script>
    function scrollToSection() {
        var targetSection = document.getElementById('targetSection');
        targetSection.scrollIntoView({ behavior: 'smooth' });
    }
</script>
<script>
  function scrollToSection1() {
      var targetSection = document.getElementById('targetSection1');
      targetSection.scrollIntoView({ behavior: 'smooth' });
  }
</script>
<script>
  function goToPage() {
      // Змініть URL на URL вашої сторінки
      window.location.href = "topfund.html";
  }
  function goToPage1() {
      // Змініть URL на URL вашої сторінки
      window.location.href = "createfund.html";
  }
</script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>