<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Fundraisings</title>
    <link rel="stylesheet" href="..//static//topfund_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap">
</head>
<body class="yellow-bg">
    <header class="header">
        <h1>Top Fundraisings</h1>
    </header>
    <div class="fundraising-container">
        <div class="fundraising">
            <div class="header">Reconstruction</div>
            <div class="description">Description of Fundraising 1</div>
            <div class="donate-section">
                <p>Credit Card: XXXX XXXX XXXX XXXX</p> 
                <button class="donate-btn">Donate</button>
            </div>
        </div>
    
        <div class="fundraising">
            <div class="header">Help Army!</div>
            <div class="description">Description of Fundraising 2</div>
            <div class="donate-section">
                <p>Credit Card: XXXX XXXX XXXX XXXX</p> 
                <button class="donate-btn">Donate</button>
            </div>
        </div>
    
        <div class="fundraising">
            <div class="header">We need a treatment!</div>
            <div class="description">Description of Fundraising 3</div>
            <div class="donate-section">
                <p>Credit Card: XXXX XXXX XXXX XXXX</p> 
                <button class="donate-btn">Donate</button>
            </div>
        </div>
    </div>

    <!-- Button for user's fundraisings -->
    <button onclick="goToPage()" class="user-fundraisings-btn">User's Fundraisings</button>
    <script>
        function goToPage() {
        // Змініть URL на URL вашої сторінки
        window.location.href = "userfund.html";
    }
    </script>
</body>
</html>