<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Fundraisings</title>
    <link rel="stylesheet" href="../static/userfund_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap">
</head>

<body class="yellow-bg">
    <header class="header">
        <h1>User's Fundraisings</h1>
    </header>
    <div class="fundraising-container">
        {% for fundraising in fundraisings %}
        <div class="fundraising">
            <div class="header">{{ fundraising.name }}</div>
            <div class="description">{{ fundraising.description }}</div>
            <div class="donate-section">
                <p>Credit Card: {{ fundraising.credit_number }}</p>
                <button class="donate-btn">Donate</button>
            </div>
        </div>
        {% endfor %}
    </div>

    <button onclick="goToPage()" id="create-btn">Create your own</button>
    <script>
        function goToPage() {
            window.location.href = "createfund.html";
        }
    </script>
</body>